@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

#root_footer{
    width:100%;
    font-family: 'Noto sans KR', 'sans-serif';
    height:640px;
    background:#000000;
    margin-top:120px;
}
#root_footer p{
    color:#ffffff;
}
#footer_team_logo{
    margin-top:70px;
    height:75px;
    cursor:pointer;
}
#footer_names{
    margin-top:30px;
}
#footer_names a{
    font-family:'Noto sans KR';
    font-size:16pt;
    text-decoration:none;
    color:#ffffff;
}
#footer_names a:hover{
    text-decoration:underline;
}
#footer_school{
    font-family:'Noto sans KR';
    margin-top:30px;
    font-size:13.5pt;
}
#logos{
    display:block;
    margin-top:50px;
}
#logos img{
    width:80px;
    height:auto;
    display:inline-block;
    margin:0 15px;
    cursor:pointer;
}
#footer_announcement{
    font-family:'Noto sans KR';
    margin-top:50px;
    font-size:12pt;
}
#footer_announcement b{
    text-decoration: underline;
}
#footer_source{
    margin-top:30px;
    font-family:'Noto sans KR';
    font-size:12pt;

}